{% extends "base.html" %}
{% block title %}Verify OTP{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 450px;">
    <h3 class="mb-3">Enter OTP</h3>

    <form method="post">
        {% csrf_token %}

        <label>OTP Code</label>
        <input type="text" name="otp" class="form-control mb-3" required>

        <label>New Password</label>
        <input type="password" name="password1" class="form-control mb-3" required>

        <label>Confirm Password</label>
        <input type="password" name="password2" class="form-control mb-3" required>

        <button class="btn btn-success w-100">Reset Password</button>
    </form>
</div>
{% endblock %}
